@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Roboto:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
}
html{
  color: #342f24;
  background-color: #eaeaea;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}